/* App.css */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }
  body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  }

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0;
}

.nav-links li {
  display: inline;
}

.nav-links li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  background-color: #0056b3;
}

.content {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styling for Daily Quote component */
.quote-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quote-text {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 10px;
}

.author-text {
  font-size: 18px;
  font-weight: bold;
}

.button-container {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

/* Styling for Favorites component */
.favorite-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.favorite-text {
  font-size: 18px;
}

.remove-btn {
  color: #dc3545;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.remove-btn:hover {
  color: #a50d0d;
}



.notification {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f74933;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  z-index: 999; 
}

.notification.hide {
  display: none;
}



/* Add media query for screens smaller than 768px (typical tablet portrait) */
@media screen and (max-width: 768px) {
  .App {
    padding: 10px; /* Reduce padding */
  }

  .nav-links {
    flex-direction: column; /* Display navigation links in a column */
    padding: 10px; /* Reduce padding */
  }

  .nav-links li {
    margin-bottom: 10px; /* Add space between navigation links */
  }

  .content {
    padding: 10px; /* Reduce padding */
  }

  .quote-container {
    padding: 15px; /* Adjust padding */
  }

  .button-container {
    margin-top: 15px; /* Adjust margin */
  }

  .btn {
    padding: 8px 16px; /* Adjust button padding */
    font-size: 14px; /* Reduce button font size */
  }

  .favorite-item {
    padding: 8px; /* Adjust padding */
    margin-bottom: 15px; /* Adjust margin */
  }

  .favorite-text {
    font-size: 16px; /* Reduce font size */
  }

  .notification {
    bottom: 20px; /* Adjust notification position */
    font-size: 14px; /* Reduce font size */
    padding: 8px 16px; /* Adjust padding */
  }
}
